# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDE
.idea/
.vscode/
!.vscode/launch.json

# db config
instance/db_config.py

# logs
*.log

# assets
assets/

Pipfile.lock
