# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# IDE
.idea/
.vscode/
!.vscode/launch.json

# secret config
instance/secret_config.py

# logs
*.log

# assets
assets/

Pipfile.lock
