[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
requests = "*"
flask = "*"
flask-sqlalchemy = "*"
mysqlclient = "*"
flask-expects-json = "*"
osrm-py = "*"
flask-jwt-extended = "*"
gunicorn = "*"
Flask-Migrate = "*"
flask-bcrypt = "*"
yandex.translate = "*"
flask-avatars = "*"
locust = "*"

[requires]
python_version = "3.6"